<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <connectionStrings>
    <add name="ThothContext" connectionString="Server=.;Database=ydyazilim_thoth;Trusted_Connection=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="SOA" value="false" />
    <add key="ServiceAddress" value="http://localhost:9336/{0}.svc" />

    <add key="ApiUrl" value="" />
    <add key="Domain" value="tesmer.org.tr" />
    <add key="KpsUrl" value="" />
    <add key="ThemeUrl" value="/Content/assets/" />
    <add key="ServiceAddress" value="http://localhost:9336/{0}.svc" />

    <add key="MediaServiceUrl" value="" />
    <!-- SMS Ayarları-->
    <add key="SMSUsername" value="" />
    <add key="SMSPassword" value="" />
    <add key="SMSOriginator" value="" />
    <add key="SMSServiceUrl" value="" />
    <!-- SMS -->
    <!-- Mail Ayarları-->
    <add key="MailSmtp" value="mail.tesmer.org.tr" />
    <add key="MailPort" value="" />
    <add key="MailAddressUserName" value="" />
    <add key="MailAddressPassword" value="" />
    <add key="MailSenderAddress" value="" />
    <add key="MailSenderName" value="" />
    <add key="MailSSL" value="false" />
    <!-- Mail Ayarları-->

    <!-- MEDIA -->
    <add key="MediaPath" value="C:/inetpub/wwwroot/Thoth.Publish/MEDIA" />

  </appSettings>
  <system.web>
    <httpRuntime maxRequestLength="102400" />

    <compilation debug="true" targetFramework="4.5" />

    <sessionState timeout="20" />
    <customErrors mode="RemoteOnly" defaultRedirect="~/Error/UnExpected">
      <error statusCode="404" redirect="~/Error/NoPageFound" />
    </customErrors>
    <authentication mode="Forms">
      <forms loginUrl="~/MyAccount/Login" timeout="2880" />
    </authentication>
    <membership defaultProvider="MyMembershipProvider">
      <providers>
        <add name="Thoth.Web.UI" type="Thoth.Web.UI.MyMembershipProvider, Thoth.Web.UI" />
        <!--<add name="ClassName" type="NamespaceName.ClassName, assemble (dll) name"/>-->
      </providers>
    </membership>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />

      <add name="PdfFileHandler" path="*.pdf" verb="GET" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />

    </handlers>


  </system.webServer>
</configuration>
