
<div class="page-sidebar-wrapper">
    <!-- BEGIN HORIZONTAL RESPONSIVE MENU -->
    <div class="page-sidebar navbar-collapse collapse">
        <ul class="page-sidebar-menu" data-slide-speed="200" data-auto-scroll="true">
            <li class="">
                <a href="@Url.Action("Index","Home")">
                    Anasayfa
                </a>
            </li>

            <li class="">
                <a href="@Url.Action("Login","Home")">
                    Giriş
                </a>
            </li>

        </ul>
    </div>
    <!-- END HORIZONTAL RESPONSIVE MENU -->
</div>
<!-- END SIdEBAR -->
